<div>
    <form id="registro" enctype="multipart/form-data">
        <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label>Email</label>
                <input type="email" name="email" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Password</label>
                <input type="password" name="password" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Repita la password</label>
                <input type="password" name="password2" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Años de experiencia</label>
                <input type="number" name="anos_experiencia" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Especialidad</label>
                <input type="text" name="especialidad" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-12">
                <label>Foto de perfil</label>
                <input name="foto" type="file" />
            </div>
        </div>
        <button type="submit" class="btn btn-info mb-3">Registrarme</button>
        <p><a href="/login"> Iniciar sesión</a></p>
    </form>
</div>

<script>
    document.getElementById("registro").addEventListener("submit", async (event) => {
        event.preventDefault()
        const { password, password2, email } = event.target
        const valorEmail = email.value

        const getUsuarios = async () => {
            console.log(valorEmail)

            const response = await fetch("http://localhost:3000/usuarios");
            const data = await response.json();
            console.log(data)

            const userExist = data.some(e => e.email == valorEmail)
            console.log(userExist)

            if (userExist == true) {
                alert("Usuario ya Registrado")
                return
            } else if (password.value != password2.value) {
                alert('Password son distintos')
                return
            }
            try {
                const formData = new FormData(event.target)

                const response = await fetch("/registro", {
                    method: "POST",
                    body: formData
                })

                const data = await response.json()
                if (response.status == 500) {
                    throw new Error('Por favor llena todos los campos')
                } else if (response.status == 401) {
                    throw new Error('Error Server')
                }

                window.location = '/login'
                alert("Registro Exitoso")
            } catch (error) {
                alert("Problemas al crear registro, instentalo de nuevo")
                console.error(error)
            }
        }

        getUsuarios();
    }
    );






</script>