<table class="table bg-dark" data-bs-theme="dark">
    <tbody class="usuarios">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>

        </thead>
</table>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>

    const getUsuarios = async () => {

        const response = await fetch("http://localhost:3000/usuarios");
        const data = await response.json();
        $(".usuarios").html("");
        $.each(data, (i, c) => {
            let estado = data[i].estado
            let estadoRev = revision(estado);
            console.log(estado)
            let id = c.id
            function revision() {

                if (estado == false) {
                    return `<td class="text-warning font-weight-bold">En revisión</td>`
                } else {
                    return `<td class="text-success font-weight-bold" >Aprobado</td>`
                }
            }
            $(".usuarios").append(
                `<tr>
                <td>${id}</td>
                <td><img src='/photos/${c.foto}' width="50px"></td>
                <td>${c.nombre}</td>
                <td>${c.anos_experiencia}</td>
                <td>${c.especialidad}</td> 
                ${estadoRev}
                </tr>`
            )
            revision();
        })
    }
    getUsuarios();



</script>