<table class="table bg-dark" data-bs-theme="dark">
    <div class="container-lg">
        <tbody class="usuarios">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Años de experiencia</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Aprobar Solicitud</th>
                </tr>
            </thead>
        </tbody>
</table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>

    const getUsuarios = async () => {

        const response = await fetch("http://localhost:3000/usuarios");
        const data = await response.json();

        $(".usuarios").html("");
        $.each(data, (i, c) => {
            let estado = data[i].estado

            console.log(estado)
            let estadoRev = revision(estado);
            let id = c.id
            function revision() {
                console.log(estado)
                if (estado == false) {
                    return `<td class="text-warning font-weight-bold">En revisión</td>`
                } else {
                    return `<td class="text-success font-weight-bold" >Aprobado</td>`
                }
            }
            $(".usuarios").append(
                `<tr>
                <td>${id}</td>
                <td>${c.foto}</td>
                <td>${c.nombre}</td>
                <td>${c.anos_experiencia}</td>
                <td>${c.especialidad}</td> 
                ${estadoRev}
                <td> <button id="btn-${id}" /name='${id}'>Click me</button></td> 
                </tr>`
            )

            $(document).ready(function () {
                $(`#btn-${c.id}`).click(function (event) {
                    event.preventDefault();
                    async function cambioEstado() {
                        try {
                            const response = await fetch('/admin', {
                                method: 'PUT',
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify({
                                    id: id,

                                })
                            });
                            console.log(id)
                            console.log('Completed!', response);
                        } catch (err) {
                            console.error(`Error: ${err}`);
                        }
                    }
                    cambioEstado()
                    window.location.reload()
                });

            })
        })
    }

    getUsuarios();

</script>